/*
 *SHAME CSS*/
h2 {
    font-size: 27px !important;
}
body {
    /* background-image: url(http://subtlepatterns.com/patterns/geometry2.png); */
   /* background-image: url(../images/congruent_pentagon.png);  */
  /* background-position: center center; */
    background-color: #b9f6ca !important; 
}
.container {
    padding-top: 50px;
}

h1.main-header {
    /* padding-bottom: 50px; */
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    /* border: 2px solid #ccc; */
    /* border-radius: 4px; */
    background-color: #1de9b6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.inner-card-padding {
    padding-right: 20px;
    padding-left: 20px;
}

.logged-in-box {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.col-centered{
    float: none;
    margin: 0 auto;
    width: 400px;
}

.user-name-input {
    width: 100%;
    margin-bottom: 10px;
}

.log-in-btn {
    /* width: 100%; */
}

.card-border {
    background: white;
    /* padding: 20px; */
    /* border: 1px solid #e3e3e3; */
    border-bottom: 5px solid #c7c7c7;
    border-radius: 4px;
}

input[type="radio"] {
    display: none;
    visibility: hidden;
}

.quiz-wrapper label {
    width: 100%;
    display:inline-block;
    /* background-color:#ddd; */
    padding:4px 11px;
    transition: all 0.6s ease-in-out; 
}
label {
    position: relative;
    z-index: 1;
}
label:after {
    content: "";
    position:absolute;
    bottom:0; left:0;
    width:100%; height:0px;
    background-color: #12CA9C;
    z-index:-1;
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

input[type="radio"]:checked + label:after {
    /* background-color: #12CA9C; */
    height: 100%;
    z-index: -1;
}

.action-btns-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.action-btns-wrapper .nxt-btn i{
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    opacity: 0;
    transform: translateX(-20px);
}
.action-btns-wrapper .nxt-btn:hover i {
    margin-left: 20px;
    opacity: 1.0;
    transform: translateX(5px);
}

.action-btns-wrapper .nxt-btn {
    padding-right: 0px;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.action-btns-wrapper .nxt-btn:hover {
    padding-right: 12px;
}

.action-btns-wrapper .prev-btn {
    padding-left: 0px;
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.action-btns-wrapper .prev-btn:hover {
    padding-left: 12px;
}

.action-btns-wrapper .prev-btn i{
    transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    opacity: 0;
    transform: translateX(20px);
}
.action-btns-wrapper .prev-btn:hover i {
    margin-right: 20px;
    opacity: 1.0;
    transform: translateX(-5px);
}

.quiz-wrapper h2 {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.quiz-wrapper div label {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

