body {
    /* background-image: url(http://subtlepatterns.com/patterns/geometry2.png); */
   background-image: url(../images/subtle_dots_@2X.png); 
  background-position: center center;
}
.container {
    padding-top: 50px;
}

h1.main-header {
    padding-bottom: 50px;
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
    /* border: 2px solid #ccc; */
    /* border-radius: 4px; */
}

.col-centered{
    float: none;
    margin: 0 auto;
    width: 400px;
}

.user-name-input {
    width: 100%;
    margin-bottom: 10px;
}

.log-in-btn {
    width: 100%;
}

.card-border {
    background: white;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-bottom: 5px solid #c7c7c7;
    border-radius: 4px;
}
